[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    required = true

[lfs]
    fetchexclude = *.mp3,*.png,*.m4a
    fetchinclude = *.txt,*.md

[core]
    hooksPath = .githooks
