<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ page.title | escape }}">
<meta property="og:description" content="Сейчас: {{page.start_time}} {{ page.section | escape }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/covers/23.png?version=1">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }}">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:title" content="{{ page.title | escape }}">
<meta name="twitter:description" content="{{ page.excerpt | escape }}">
<meta name="twitter:image" ccontent="{{ site.url }}{{ site.baseurl }}/assets/covers/23.png?version=1">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@YourTwitterHandle">

<!-- General Meta Tags for SEO -->
<meta name="description" content="{{ page.excerpt | escape }}">
<meta name="keywords" content="{{ page.keywords | join: ', ' }}">
<meta name="robots" content="index, follow">

<!-- Canonical URL -->
<link rel="canonical" href="{{ page.url | absolute_url }}">
