<!-- Кнопки "Поделиться" -->
<div id="share-buttons">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.permalink }}&title={{ page.title }}&description={{ page.excerpt | strip_html }}&picture={{ site.url }}/assets/covers/{{ page.permalink }}.png"
       target="_blank"
       title="Поделитья программой {{ page.title }}">
        <i class="fab fa-facebook">1</i>
    </a>
    <a href="https://t.me/share/url?url={{ site.url }}/{{ page.permalink }}&text=В Эфире&picture={{ site.url }}/assets/covers/{{ page.permalink }}.png"
       target="_blank"
       title="Поделитья программой {{ page.title }}">
        <i class="fab fa-telegram">2</i>
    </a>
</div>
