<!-- Кнопки "Поделиться" -->
<div id="share-buttons">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}/{{ page.permalink }}&title={{ page.title }}&description={{ page.excerpt | strip_html }}&picture={{ site.url }}/assets/covers/{{ page.permalink }}.png"
       target="_blank"
       title="{{ page.title }}">
        <i class="fab fa-facebook"></i>
    </a>
    <a href="https://t.me/share/url?url={{ site.url }}/{{ page.permalink }}&text={{ page.title }}%0A%0A{{ page.excerpt | strip_html }}%0A%0AЕжедневно в {{ page.start_time }} в рубрике «{{ page.section }}»%0A%0A{{ site.url }}/{{ page.permalink }}"
       target="_blank"
       title="{{ page.title }}">
        <i class="fab fa-telegram"></i>
    </a>
</div>
