<style>
/* Стили для элементов расписания */
.highlight-time {
  background-color: #1c1c1c;
  color: silver;
  border-radius: 4px;
  padding: 0 4px;
}

.highlight-section {
  background-color: green;
  color: lime;
  border-radius: 4px;
  padding: 0 4px;
}

.highlight-location {
  background-color: yellow;
  color: black;
  border-radius: 4px;
  padding: 0 4px;
}

/* Стили для списка расписания */
.schedule-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}

.schedule-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px; /* Отступ между элементами списка */
}
</style>

<!-- Список расписания -->
<ul class="schedule-list">
  {% for page in site.hours %}
    {% if page.layout == "hour" %}
      <li class="schedule-item">
        <span class="highlight-time">{{ page.start_time }}</span>
        <span class="highlight-section">{{ page.section }}</span>
        <span class="highlight-location">{{ page.location }}</span>
        {{ page.title }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
