/* ===== Глобальные стили ===== */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #242424;
  color: #d3d3d3;
  font-family: 'Verdana', 'DejaVu Sans', 'Geneva', sans-serif;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 5vw;
}

.container {
  width: min(90%, 1200px);
  padding: 4vw;
  overflow: hidden;
}

/* ===== Стили для заголовков ===== */
h1, h2, h3, h4, h5, h6 {
  color: white;
  margin: 4vw 0;
  text-align: left;
  line-height: 2;
}

strong {
  color: white;
  font-size: inherit;
}

/* ===== Стили для ссылок ===== */
a {
  color: grey;
  text-decoration: none;
  font-size: inherit;
}

a:hover {
  color: white;
  text-decoration: underline;
}

/* ===== Стили для hr ===== */
hr {
  margin: 2vw 0;
  border: 0;
  border-top: 1px solid #d3d3d3;
  width: 100%;
}

/* ===== С*
