<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/all-programs.css">

  <!-- Favicon -->
  <link rel="icon" href="/assets/favicon/favicon-32x32.png" type="image/png">

</head>
<body>
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  <main>
    <div id="programs-container"></div>
  </main>

  <!-- JS -->
  <script src="/assets/player.js"></script>
  <script src="/assets/all-programs.js"></script>
</body>
</html>
