<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    {% include next-hour.html %}
    {% include play-audio-js.html %}
    {% include time.html %}
</head>
<body>
  <div class="top-left-container">
    <span class="site-title">{{ site.title }}</span>
    <span class="lime-circle">●</span>
    <span id="header-time-wrapper" class="time-container"></span>
  </div>
  <main>
    <div class="main-content">


      <h1>{{ page.title }}</h1>
      <p><span class="highlight-section">{{ page.section }}</span></p>
      <p>
        <span class="highlight-location">{{ page.author }}</span>
        <span class="highlight-location">{{ page.location }}</span>
      </p>
      {% include audio.html %}
      <br>
      {{ content }}
      <body>
  </main>
  <!-- Футер с информацией -->
  <div class="footer-info">
    <div class="rotating-text-container">
      {% include table.html %}
    </div>
    <a href="/donations" target="_blank" class="highlight-donat">+</a>
  </div>
</body>
</html>
