<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    {% include next-hour.html %}
    {% include play-audio-js.html %}
    {% include time.html %}
</head>
<body>
  <main>
    <div class="main-content">
      <h1>{{ page.title }}</h1>
      {% include audio.html %}
      <p>{{ content }}</p>
    </div>
  </main>

  <!-- Контейнер для информации в правом нижнем углу -->
  <div class="footer-info">
      <p>
          <span id="footer-current-time" class="time-container"></span> <!-- Время в белом контейнере -->
          <marquee behavior="scroll" direction="left" scrollamount="5">Идет "{{ site.title }}"</marquee>
          <span><a href="/donations" target="_blank">↗ Донатс</a></span>
      </p>
  </div>

</body>
</html>
